<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <title>学生信息</title>
</head>

<body>
    <h1>学生信息列表</h1>
    <ul>
    {% for stu in students %}
    <li>
        {{ stu.sname }} -- {{ stu.scontent }} -- {{ stu.sgrade }}
    </li>
    {% endfor %}
    </ul>

   <h1> 分页显示</h1>
    <ul>
     {% for index in students.paginator.page_range %}
      {% if index == students.number %}
        <li>
         {{ index }}
        </li>
      {% else %}
       <li>
         <a href='/myapp/studentspage/{{index}}/'>{{index}}</a>
       </li>
      {% endif %}
     {% endfor %}
    </ul>
</body>

</html>
